@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #292523;
  --darkred: #9b1e1f;
  --red: #b22420;
  --lightgrey: #cfd2dc;
  --white: #f3f5fa;
}

body {
  background-color: #f4f5f8;
  color: var(--black);
  font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
}

.container .content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  overflow: hidden;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 40%;
  padding: 10px 20px;
}

.containerText h2 {
  font-size: 30px;
  font-weight: bold;
}


.content img {
  width: 50%;
}

.contentChart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  overflow: hidden;
}

.contentChart .containerCanva {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  aspect-ratio: 16/9;
}

.fond {
  background-color:  #9b1e1f;
  width: 100%;
  padding: 50px 100px;
}

.fond div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px 50px;
  border-radius: 20px;
}

.fond div h1 {
  font-size: 3vw;
  font-weight: bold;
}

.containerCanva{
  height: 60% ;
  padding-right: 0% !;
}


@media (max-width: 750px) {
  .container .content, .contentChart {
    flex-direction: column;
  }

  .contentChart .containerCanva {
    width: 100%;
  }

  .containerText {
    width: 100%;
  }

  .content img {
    width: 100%;
  }
}
