#background-video {
  height: 100vh;
  width: calc(100vw - 17px);
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.8;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 66px);
}

.title h1 {
  color: white;
  color: rgb(48, 45, 45);
  font-size: 7vw;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10%;
  padding: 10px 10%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 50px 10vw;
}

.item {
  display: flex;
  flex-direction: row-reverse;
  background-color: #cfd2dc;
  border-radius: 10px;
  align-items: center;
}

.item:nth-child(even) {
  flex-direction: row;
}

.item div {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 5px 20px;
}

.item div h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.item img {
  width: 40%;
  aspect-ratio: 16/9;
}
