body {
  min-height: 100vh;
}

.title {
  display: grid;
  place-items: center;
  width: 100%;
  height: 50vh;
  background-color: #44b2c5;
  text-transform: uppercase;
}

.title h1 {
  font-size: 12vw;
}

.container-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 80%;
}

.item {
  position: relative;
  display: flex;
  gap: 8%;
}

.item .annee {
  position: sticky;
  top: 10px;
  height: fit-content;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.item-content {
  display: flex;
  gap: 30px;
}

.item-content img {
  min-width: 50%;
  width: 50%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.item-content .item-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-content .item-txt h2 {
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .item-content {
    flex-direction: column;
  }

  .item-content img {
    width: 100%;
    margin-bottom: 20px;
  }
}
