@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --white: #ffffff;
  --darkBlue: #091225;
  --black: #000000;
  --lightBlue: #005ef5;
}

html {
  scroll-behavior: smooth;
}

.parallax {
  height: 100vh;
}

.parallax h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f3f5fa;
  font-family: 'Nunito', sans-serif;
  font-size: 5em;
  margin: 5px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

#background-video {
  height: 100vh;
  width: calc(100vw - 17px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.containerChev {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 77vh;
}

.containerChev a {
  font-size: 20px;
  color: #f3f5fa;
  text-decoration: underline;
  font-weight: bold;
}

.containerChev .chevron {
  position: relative;
  cursor: pointer;
  animation: moveUpDown 1s ease-in-out infinite;
}

.containerChev .chevron::before,
.containerChev .chevron::after {
  content: "";
  position: absolute;
  top: 10px;
  height: 50px;
  width: 10px;
  background-color: #9b1e1f;
}

.containerChev .chevron::before {
  right: 95px;
  transform: rotate(45deg);
}

.containerChev .chevron::after {
  left: 95px;
  transform: rotate(-45deg);
}

.containerChev .chevron.active::before {
  right: 101px;
  transform: rotate(45deg);
}

.containerChev .chevron.active::after {
  left: 101px;
  transform: rotate(-45deg);
}


@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 10vw 50px 10vw;
  border-radius: 5px;
}

.container h1 {
  color: #292523;
  font-family: 'Nunito', sans-serif;
  font-size: 5em;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  font-weight: bold;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #f3f5fa;
  font-family: 'Nunito', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.item:nth-child(even) {
  flex-direction: row-reverse;
}

.item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 0 5vw;
}

.item div h2 {
  font-weight: bold;
  font-size: 20px;
}

.item img {
  margin-right: 10px;
  width: 450px;
}

footer p {
  color: white;
}
