nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
  font-size: 20px;
  background-color: white;
  color: black;
}

nav svg {
  fill: black;
  width: 93px;
  height: 33px;
  text-align: center;
  margin-top: 5px;
}

nav a {
  color: black;
  transition: 200ms !important;
}

nav a:hover {
  transform: scale(1.3) !important;
}
