@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    all: unset;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}
